<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard/overview']">Paper Dashboard PRO</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="full-page lock-page" data-color="green" data-image="../../assets/img/background/background-5.png">
    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <form method="#" action="#">
                <div class="card card-lock">
                    <div class="author">
                        <img class="avatar" src="../../assets/img/faces/face-2.jpg" alt="...">
                    </div>
                    <h4>Chet Faker</h4>
                    <div class="form-group">
                        <input type="password" placeholder="Enter Password" class="form-control">
                    </div>
                    <button type="button" class="btn btn-wd">Unlock</button>
                </div>
            </form>
        </div>
        <footer class="footer footer-transparent">
            <div class="container">
                <div class="copyright">
                    &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>
    </div>
</div>
