<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">24 Hours Performance</h4>
                        <p class="category">Line Chart</p>
                    </div>
                    <div class="card-content">
                        <div id="chartPerformance"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">NASDAQ: AAPL</h4>
                        <p class="category">Line Chart with Points</p>
                    </div>
                    <div class="card-content">
                        <div id="chartStock"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Views</h4>
                        <p class="category">Bar Chart</p>
                    </div>
                    <div class="card-content">
                        <div id="chartViews"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Activity</h4>
                        <p class="category">Multiple Bars Chart</p>
                    </div>
                    <div class="card-content">
                        <div id="chartActivity"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
