

<div >
        <form method="post" #f="ngForm" validate (ngSubmit)="updateLiveStream(f.valid)">

            <div class="card-content" style="padding-top:0px">
                <h4 class="card-title text-left" i18n="@@editLiveStreamCardTitle">
                    Edit Stream
                </h4>
                <div class="form-group text-left">
                    <label i18n="@@newLiveStreamName">Name</label>
                    <input type="text" required minlength="4" name="broadcastName" i18n-placeholder="@@stream_name_place_holder" placeholder="Stream name"
                           class="form-control" [(ngModel)]="data.name" #broadcastName="ngModel">
                    <small [hidden]="broadcastName.valid || (!f.submitted)" class="text-danger"
                           i18n="@@broadcastNameIsRequired">
                        Stream name should be at least 4 characters.
                    </small>
                    <small class="text-danger" *ngIf="streamNameEmpty">
                        Stream name should not be empty.
                    </small>
                </div>

                <div class="form-group text-left">
                    <label i18n="@@webRTCViewerLimit">WebRTC Viewer Limit</label>
                    <input type="text" name="webRTCViewerLimit" i18n-placeholder="@@webrtc_viewer_limit_place_holder" placeholder="WebRTC Viewer Limit"
                           class="form-control" [(ngModel)]="data.webRTCViewerLimit" #onvifUrl="ngModel" style="width: 400px">

                    <small class="text-danger" *ngIf="data.webRTCViewerLimit<1 && data.webRTCViewerLimit!=-1">
                        Please write a limit larger than 1 or -1 for unlimited
                    </small>
                </div>

                <div class="form-group text-left">
                    <label i18n="@@hlsViewerLimit">HLS Viewer Limit</label>
                    <input type="text" name="hlsViewerLimit" i18n-placeholder="@@hls_viewer_limit_place_holder" placeholder="HLS Viewer Limit"
                           class="form-control" [(ngModel)]="data.hlsViewerLimit" #onvifUrl="ngModel" style="width: 400px">

                    <small class="text-danger" *ngIf="data.hlsViewerLimit<1&& data.hlsViewerLimit!=-1">
                        Please write a limit larger than 1 or -1 for unlimited
                    </small>
                </div>

                <div class="form-group text-left">
                    <label i18n="@@dashViewerLimit">DASH Viewer Limit</label>
                    <input type="text" name="dashViewerLimit" i18n-placeholder="@@dash_viewer_limit_place_holder" placeholder="DASH Viewer Limit"
                           class="form-control" [(ngModel)]="data.dashViewerLimit" #onvifUrl="ngModel" style="width: 400px">

                    <small class="text-danger" *ngIf="data.dashViewerLimit<1&& data.dashViewerLimit!=-1">
                        Please write a limit larger than 1 or -1 for unlimited
                    </small>
                </div>

                <div class="form-group text-left" *ngIf="data.type=='streamSource'">
                    <label i18n="@@newStreamUrl">Stream Url</label>
                    <input type="text" name="streamUrl" i18n-placeholder="@@onvif_url_place_holder" placeholder="Stream Url"
                           class="form-control" [(ngModel)]="data.streamUrl" #onvifUrl="ngModel" style="width: 400px">

                    <small class="text-danger" *ngIf="!streamUrlDialogValid">
                        Please write a valid stream URL
                    </small>
                </div>
                
                
                <div class="form-group text-left" *ngIf="data.type=='ipCamera'">
                    <label i18n="@@newOnvifUrl">Onvif Url</label>
                    <input type="text" name="onvifUrl" i18n-placeholder="@@onvif_url_place_holder" placeholder="Onvif url"
                        class="form-control" [(ngModel)]="data.streamUrl" #onvifUrl="ngModel" style="width: 400px">
                </div>

                <div class="form-group text-left" *ngIf="data.type=='ipCamera'">
                    <label i18n="@@newUserName">Username</label>
                    <input type="text" name="username" i18n-placeholder="@@username_place_holder" placeholder="Username"
                        class="form-control" [(ngModel)]="data.username" #username="ngModel" style="width: 400px">
                 </div>

                <div class="form-group text-left" *ngIf="data.type=='ipCamera'">
                    <label i18n="@@newPassword">Password</label>
                    <input type="text" name="password" i18n-placeholder="@@password_place_holder" placeholder="Password"
                        class="form-control" [(ngModel)]="data.pass" #password="ngModel" style="width: 400px">
                </div>
                

                <div class="form-group text-left" *ngIf="data.videoServiceEndpoints.length>0">
                    <label class="col-sm-12" style="padding-left:0px" i18n="@@newLiveStreamSocialShare">Share</label>

                    <ng-container *ngFor="let endpoint of data.videoServiceEndpoints; let i = index">

                        <div class="col-sm-4 text-left checkbox vcenter" style="margin-top:5px">

                            <input [id]="endpoint.id" [name]="endpoint.id" type="checkbox"
                                   [(ngModel)]="shareEndpoint[i]">
                            <label [for]="endpoint.id">
                                <ng-container [ngSwitch]="endpoint.serviceName">
                                    <ng-container *ngSwitchCase="'facebook'">
                                        <i class="ti-facebook" style="color:#3b5998">&nbsp;</i>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'youtube'">
                                        <i class="ti-youtube" style="color:#e52d27">&nbsp;</i>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'periscope'">
                                        <i class="ti-twitter-alt" style="color:#55acee">&nbsp;</i>
                                    </ng-container>
                                </ng-container>
                                {{endpoint.accountName}}
                            </label>

                        </div>
                    </ng-container>

                </div>

                <div class="form-group text-center">

                    <button type="submit" [disabled]='liveStreamUpdating' class="btn btn-fill btn-success" i18n="@@newLiveStreamSaveButton">
                        <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf="liveStreamUpdating" aria-hidden="true"></i>Save</button>

                    <button type="button" class="btn btn-simple" i18n="@@newLiveStreamCancelButton" (click)="cancelEditLiveStream()">Cancel</button>
                </div>

            </div>

        </form>
</div>

