<div *ngIf=!noDetectedObject>
<h2 mat-dialog-title>Object Detection List</h2>
<mat-table [dataSource]="dataSource" matSort >


    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>

        <mat-cell *matCellDef="let row" style="padding:10px">

            <a [href]="getImageURL(row.imageId)" target="_blank"> <img style="width:30%;" [src]="getImageURL(row.imageId)"> </a>
            {{row.objectName}} - {{row.detectionTime | date:'medium'}}

        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef > Time </mat-header-cell>
    
            <mat-cell *matCellDef="let row" style="padding:10px">
    
                {{row.detectionTime}}
    
            </mat-cell>
        </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumnsStreams"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsStreams;">
    </mat-row>
</mat-table>


   <mat-paginator   
    [length]="detectedLenght"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onDetectionPaginateChange($event)"
    >
    </mat-paginator>

<!--<mat-paginator #paginator [pageSize]="100" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
</mat-paginator>
-->


</div>
<div *ngIf=noDetectedObject>
  <h5>     No detected object for the stream!</h5>

</div>

<br>
<button type="button" class="btn btn-simple" i18n="@@newLiveStreamCancelButton" (click)="onNoClick()">Close</button>