<div>

    <h4 class="card-title text-left" i18n="@@editLiveStreamCardTitle">
        Upload VoD
    </h4>
     
    <div class="form-group text-left col-sm-12 col-md-12">
        <label i18n="@@newVoDName">Name</label>
            <input type="text" name="vodName" i18n-placeholder="@@onvif_url_place_holder" placeholder="VoD Name"
                   class="form-control" [(ngModel)]="fileName" #onvifUrl="ngModel">

        <div *ngIf="progress > 0" style="width: 100%">
            <progress value="{{progress}}" max="100" style="width: 90%"></progress>

            <button type="button" class="btn btn-simple" style="width: 10%;font-size: 21px" (click)="cancelUpload()">
                &#10006;
            </button>
        </div>
    </div>

    <br><br>


    <div class="form-group text-center col-sm-2 col-md-2">
        <input type="file" class="upload" (change)="handleFileInput($event.target.files)"/>
    </div>


    <div class="form-group col-sm-12 col-md-12 text-center">

        <button [disabled]='!fileselected' (click)="submitUpload()" class="btn btn-fill btn-success"
                    i18n="@@newLiveStreamSaveButton">
                <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf="uploading" aria-hidden="true"></i>Save
        </button>

        <button type="button" class="btn btn-simple" i18n="@@newLiveStreamCancelButton" (click)="onNoClick()">
                Cancel
        </button>
    </div>


</div>