<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-content">

                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                    <li>
                                        <a href="#licence" data-toggle="tab" class="active" i18n="licence key settings licence | @@LicenceTabHeader">General </a>
                                    </li>
                                    <li>
                                        <a href="#users" data-toggle="tab" i18n="user settings |log@@LogTabHeader">Users</a>
                                    </li>
                                    <li>
                                        <a href="#ssl" data-toggle="tab">SSL</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="my-tab-content" class="tab-content text-center">

                            <div class="tab-pane active" id="licence" *ngIf="settingsReceived ">

                                <div>
                                    <form method="post" #f="ngForm" (ngSubmit)="changeServerSettings(f.valid)" class="form-horizontal">

                                        <fieldset >

                                            <div class="form-group text-left" *ngIf="!serverSettings.buildForMarket && isEnterpriseEdition" >
                                                <label class="col-sm-2 control-label">License Status</label>

                                                <div class="col-sm-10" *ngIf="licenseStatusReceiving">
                                                    <p class="form-control-static text-left"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw"  aria-hidden="true"></i> Please wait..</p>
                                                </div>

                                                <div class="col-sm-10" *ngIf="!licenseStatusReceiving && (licenseStatus ==='Invalid' || licenseStatus ==='Suspended' || licenseStatus ==='Expired' || licenseStatus ==='Trial expired') ">
                                                    <p class="form-control-static text-left">  <i class="fa fa-circle text-muted" style="color: #98000d"></i> {{licenseStatus}}
                                                    </p>
                                                    <small class="form-control-static">{{licenseStatusExplaination}}</small> 
                                                </div>
                                                <div class="col-sm-10" *ngIf="!licenseStatusReceiving && licenseStatus ==='Getting license status' ">
                                                    <p class="form-control-static text-left">  <i class="fa fa-spinner fa-pulse fa-1x fa-fw"  aria-hidden="true"></i> {{licenseStatus}}..</p>
                                                </div>

                                                <div class="col-sm-10" *ngIf="!licenseStatusReceiving && licenseStatus ==='Valid'">
                                                    <p class="form-control-static text-left">  <i class="ti-check " style="color:#199826;font-size: 1.1em"></i>
                                                        Owner : {{currentLicence.owner}} | Until :  {{currentLicence.endDate}} {{_messageReceived}}</p>
                                                </div>                            
                                            </div>

                                        </fieldset>

                                        <fieldset *ngIf="!serverSettings.buildForMarket && isEnterpriseEdition " >
                                            <div class="form-group"  >
                                                <label class="col-sm-2 control-label">License Key</label>
                                                <div class="col-sm-10 text-left" >

                                                    <input type="text" required minlength="1" name="licenseKey"
                                                           placeholder="Write your license key"
                                                           class="form-control"
                                                           [(ngModel)]="serverSettings.licenceKey"
                                                           #licenseKey="ngModel">
                                                    <small [hidden]="licenseKey.valid || (!f.submitted)" class="text-danger" i18n="@@broadcastNameIsRequired">
                                                        License key should be at least 4 characters.
                                                    </small>

                                                </div>
                                            </div>
                                        </fieldset>
                                        
                                        <fieldset>
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label">Log Status</label>
    
                                                <div class="col-sm-10">
    
                                                    <select  type="text"  [name]="'resolutionHeight'" (ngModelChange)="logLevelChanged($event)" [(ngModel)]="serverSettings.logLevel"
                                                             class="dropdown-toggle form-control" required>
                                                        <option value="{{logLevelInfo}}">{{logLevelInfo}}</option>
                                                        <option value="{{logLevelWarn}}">{{logLevelWarn}}</option>
                                                        <option value="{{logLevelError}}">{{logLevelError}}</option>
                                                        <option value="{{logLevelOff}}">{{logLevelOff}}</option>
                                                    </select>
    
                                                </div>
                                            </div>
                                        </fieldset>

                                        <fieldset *ngIf="isEnterpriseEdition && !serverSettings.buildForMarket  && currentLicence.type ==='hourly'"> <!-- -->
                                            <div class="form-group"  >
                                                <label class="col-sm-2 control-label">Hour Used <a
                                                    href="https://license.antmedia.io/?licenseId={{serverSettings.licenceKey}}"
                                                    target="_blank"
                                                    matTooltip="Please click it for more usage detail">
                                                    <i class="fa fa-info-circle"></i></a>
                                                    </label>
                                                <div class="col-sm-10 text-left" >
                                                    <p class="form-control-static text-left"> <i class="ti-alarm-clock" style="color:#199826;font-size: 1.1em"  aria-hidden="true"></i>  {{currentLicence.hourUsed}} </p>
                                                </div>
                                            </div>
                                        </fieldset>
                                    
                                        <fieldset>
                                            <div class="form-group text-center" >
                                                <button type="submit" class="btn btn-fill btn-info" i18n="@@saveForm">Save</button>
                                            </div>
                                        </fieldset>
                                    </form>

        
                                </div>

                                <!-- don't let wrong configuration show the two messages at the same time-->
                                <p *ngIf="isEnterpriseEdition && serverSettings.buildForMarket">
                                    The Ant Media Server Enterprise Marketplace Edition is all set - no license activation required. Enjoy!
                                </p>

                                <p *ngIf="!isEnterpriseEdition">
                                    This is the Ant Media Server Community Edition -  no license activation required. Enjoy!
                                </p>
                            </div>
                                <div class="tab-pane container-fluid" id="users" >
                                    <div class="text-right" style="float: right" >
                                        <button *ngIf="userRole !== ReadOnlyUserType" class="btn btn-fill btn-success" i18n="@@newUserButton"
                                        (click)="newUser()" role="button">New User
                                        </button>
                                    </div>

                                <div class="card" *ngIf="newUserActive">
                                    <form method="post" #f="ngForm" validate (ngSubmit)="createUser(f.valid)" >
                                        <div class="card-header">
                                            <h4 class="card-title text-left">
                                                New User
                                            </h4>
                                        </div>
                                        <div class="card-content text-left">
                                            <div class="form-group">
                                                <label i18n="@@registerUserFullName">First Name<span class="star">*</span></label>
                                                <input type="text" name="firstName" class="form-control input-no-border"
                                                   [(ngModel)]="User.firstName" #firstName="ngModel" required minlength="2">
                                                <small [hidden]="firstName.valid || (firstName.pristine && !f.submitted)" class="text-danger">
                                                First name is required
                                                </small>
                                             </div>
                                             <div class="form-group text-left">
                                                <label i18n="@@registerUserFullName">Last Name<span class="star">*</span></label>
                                                <input type="text" name="lastName" class="form-control input-no-border"
                                                   [(ngModel)]="User.lastName" #lastName="ngModel" required minlength="2">
                                                <small [hidden]="lastName.valid || (lastName.pristine && !f.submitted)" class="text-danger">
                                                Last name is required 
                                                </small>
                                             </div>

                                            <div class="form-group text-left">
                                                <label>Username (E-mail)</label>
                                                <!-- REFACTOR NEEDED: This pattern is also used in login.component.html, use pattern from angular side-->
                                                <input type="text" required minlength="4" name="newUserName"
                                                    placeholder="Username" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,16}$"
                                                    [(ngModel)]="User.email" #newUserName="ngModel">
                                                <small [hidden]="newUserName.valid || (newUserName.pristine && !f.submitted)"
                                                    class="text-danger">
                                                    E-mail is required in correct form.
                                                </small>
                                            </div>
                                            <div class="form-group text-left">
                                                <label>Password</label>
                                                <input type="password" required minlength="6" name="Password" autocomplete="new-password"
                                                    placeholder="Password" class="form-control"
                                                    validateEqual="confirmPassword" reverse="true"
                                                    [(ngModel)]="User.password" #Password="ngModel">
                                                <small [hidden]="Password.valid || (Password.pristine && !f.submitted)"
                                                    class="text-danger">
                                                    Password should be at least 6 characters.
                                                </small>
                                            </div>
                                            <div class="form-group text-left">
                                                <label i18n="@@newPassword">Confirm Password</label>
                                                <input type="password" required minlength="6" name="confirmPassword" autocomplete="new-password"
                                                    i18n-placeholder="@@password_place_holder"
                                                    placeholder="Password" class="form-control"
                                                    [(ngModel)]="confirmPasswordModel" reverse="false" validateEqual="Password"
                                                    #confirmPassword="ngModel">
                                                <small [hidden]="confirmPassword.valid || (!f.submitted)"
                                                    class="text-danger" >
                                                    Passwords should match
                                                </small>

                                            </div>
                                            <div class="form-group text-left" >
                                                <label>User type
                                                    &nbsp;<i matTooltip="ADMIN user can do anything in their scope. USER can CRUD live streams/upload VoDs in their scope except they cannot change settings/users/applications. READ_ONLY user can only read in their scope" class="fa fa-info-circle"></i>
                                                </label>    
        
                                                <select  type="text"  [name]="'UserType'"  [(ngModel)]="User.userType"
                                                            class="dropdown-toggle form-control" required>
                                                    <option value="{{AdminUserType}}" >{{AdminUserType}}</option>
                                                    <option value="{{BasicUserType}}" >{{BasicUserType}}</option>
                                                    <option value="{{ReadOnlyUserType}}">{{ReadOnlyUserType}}</option>
                                                </select>
 
                                            </div>

                                            <div class="form-group text-left" >
                                                <label>Scope of Access
                                                    &nbsp;<i matTooltip="'Everything' is access to applications/logs/settings. Application specific access is access to the related app" class="fa fa-info-circle"></i>
                                                </label>
                                                <select type="text"  [name]="'ApplicationPermission'" [(ngModel)]="User.scope"
                                                class="dropdown-toggle form-control" required>
                                                    <option value="{{SYSTEM_SCOPE_OF_ACCESS}}" >Everything</option>
                                                    <option *ngFor="let eachVal of applications['applications']">
                                                            {{eachVal}}
                                                    </option>
                                                  </select>
                                            </div>
                                                                   
                                            <div class="form-group text-center">

                                                <button style="margin: 15px" type="submit" [disabled]='newUserCreating'
                                                    class="btn btn-fill btn-success" i18n="@@newUserCreateButton">
                                                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"
                                                        *ngIf="newUserCreating"
                                                        aria-hidden="true"></i>Create</button>

                                                <button type="button" class="btn btn-simple"
                                                    i18n="@@newUserCancelButton"
                                                    (click)="cancelNewUser()">Cancel</button>
                                            </div>
                                      
                                        </div>
                                    </form>
                                </div>
                                <div style="display: flex; justify-content: flex-end"
                                    *ngIf="userDataTable.dataRows.length>0">

                                    <div class="mat-header" >
                                        <input (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                    </div>

                                </div>

                                <div id="broadcastTable" style="text-align: left;"
                                    *ngIf="userDataTable.dataRows.length>0">

                                    <div class="mat-container mat-elevation-z0">
                                        <mat-table style="overflow: visible !important;" [dataSource]="dataSource" matSort
                                            >

                                            <ng-container matColumnDef="email">
                                                <mat-header-cell [ngClass]="'email-column'" *matHeaderCellDef
                                                    mat-sort-header>Username</mat-header-cell>

                                                <mat-cell [ngClass]="'email-column'" *matCellDef="let row">
                                                    <div style="padding-left: 12px;">
                                                        {{row.email}}
                                                        <ng-container *ngIf="!row.email || row.email.length == 0">
                                                            [No Name]
                                                        </ng-container>
                                                    </div>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="type">
                                                <mat-header-cell [ngClass]="'type-column'" *matHeaderCellDef
                                                    mat-sort-header > User Type 
                                                    &nbsp;<i matTooltip="ADMIN user can do anything in their scope. USER can CRUD live streams/upload VoDs in their scope except they cannot change settings/users/applications. READ_ONLY user can only read in their scope" class="fa fa-info-circle"></i>
                                                </mat-header-cell>
                                                   
                                                <mat-cell [ngClass]="'type-column'" *matCellDef="let row">
                                                    <div style="padding-left: 12px;">
                                                        {{row.userType}}
                                                    </div>

                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="permissions">
                                                <mat-header-cell [ngClass]="'permissions-column'" *matHeaderCellDef
                                                    mat-sort-header> Scope of Access 
                                                    &nbsp;<i matTooltip="'Everything' is access to applications/logs/settings. Application specific access is access to the related app" class="fa fa-info-circle"></i>
                                                
                                                </mat-header-cell>

                                                <mat-cell [ngClass]="'permissions-column'" *matCellDef="let row">
                                                    <div style="padding-left: 12px;">
                                                        <ng-container [ngSwitch]="row.scope">
                                                            <ng-container *ngSwitchCase="'system'">
                                                                Everything
                                                            </ng-container>
                                                            <!-- show all apps if there is no allowed app field for backward compat-->
                                                            <ng-container *ngSwitchCase="">
                                                                Everything
                                                            </ng-container>
                                                            
                                                            <ng-container *ngSwitchDefault>
                                                                {{row.scope}}
                                                            </ng-container>
                                                        </ng-container>
                                                    </div>
                                                </mat-cell>
                                            </ng-container>


                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef class="justify-flex-end"> Actions
                                                </mat-header-cell>

                                                <mat-cell *matCellDef="let row" class="justify-flex-end">
                                                    <button
                                                            (click)="changeType(row)" title="Change Type"
                                                            data-toggle="tooltip"
                                                            class="btn btn-simple btn-magnify btn-info btn-xs big-icons"
                                                            type="button">
                                                            <span class="btn-label">
                                                                <i class="ti-pencil"></i>
                                                            </span>
                                                            <ng-container i18n="@@tableEditButton"></ng-container>

                                                        </button>

                                                    <button (click)="deleteUser(row.email)"
                                                        class="btn btn-simple btn-magnify btn-danger btn-xs big-icons"
                                                        type="button">
                                                        <span class="btn-label">
                                                            <i class="ti-close"></i>
                                                        </span>
                                                    </button>

                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumnsStreams"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumnsStreams;">
                                            </mat-row>
                                        </mat-table>
                                    </div>
                                </div>
                                <!-- just simple padding-->
                                <p>&nbsp;</p>

                
                            </div>
                            <div class="tab-pane container-fluid" id="ssl">
                                <div>
                                    <form class="form-horizontal" >     
                                        <fieldset>
                                            <div class="form-group" >
                                                <label class=" col-sm-2 control-label">SSL Status</label>
                                                <div class="col-sm-10 ">
                                                    <p *ngIf="!serverSettings.sslEnabled" class="form-control-static text-left">  <i class="fa fa-times" style="color: #98000d"></i> Inactive</p>
                                                    <p *ngIf="serverSettings.sslEnabled" class="form-control-static text-left">  <i class="fa fa-check" style="color: #199826"></i> Active

                                                        <ng-container *ngIf="serverSettings.sslEnabled && serverSettings.serverName !== ''">
                                                            | <a [href]="getDomainAsHttpsLink()">{{getDomainAsHttpsLink()}}</a>
                                                          </ng-container>
                                                        
                                                        <ng-container  *ngIf="serverSettings.sslEnabled"> |
                                                         <button type="button" class="btn btn-simple" style="padding-left:3px"
                                                            (click)="openSSLForm()">Change SSL</button>
                                                        </ng-container>
                                                    </p>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <ng-container  *ngIf="sslFormActive">
                                        <fieldset>
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label">Type</label>
    
                                                <div class="col-sm-10">
    
                                                    <select #sslConfigurationSelect  type="text"  [name]="'configurationType'" (ngModelChange)="sslConfigurationChanged($event)" [(ngModel)]="sslConfType"
                                                             class="dropdown-toggle form-control" required>
                                                        <option value="{{getSslConfigurationTypeName(ConfigurationTypes.CUSTOM_DOMAIN)}}">{{ ConfigurationTypes.CUSTOM_DOMAIN }}</option>
                                                       
                                                        <option *ngIf ="licenseStatus == 'Valid'" value="{{getSslConfigurationTypeName(ConfigurationTypes.ANTMEDIA_SUBDOMAIN)}}">{{ ConfigurationTypes.ANTMEDIA_SUBDOMAIN }}</option>
                                                        <option disabled="true" *ngIf ="licenseStatus != 'Valid'" value="{{getSslConfigurationTypeName(ConfigurationTypes.ANTMEDIA_SUBDOMAIN)}}">{{ ConfigurationTypes.ANTMEDIA_SUBDOMAIN }} - Enterprise License Required</option>

                                                        <option value="{{getSslConfigurationTypeName(ConfigurationTypes.CUSTOM_CERTIFICATE)}}">{{ ConfigurationTypes.CUSTOM_CERTIFICATE }}</option>
                                                        
                                                        <!-- <option *ngIf ="currentSslSettings.configurationType != 'NO_SSL'" value="{{getSslConfigurationTypeName(sslConfigurationType.NO_SSL)}}">Remove ssl</option> -->
                                                        
                                                    </select>
    
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="form-group" >

                                        <fieldset>
                                                <label class="col-sm-2 control-label">Domain (FQDN)</label>

                                                <div class="col-sm-10" *ngIf="sslConfType == getSslConfigurationTypeName(ConfigurationTypes.ANTMEDIA_SUBDOMAIN)">
                                                    <p class="form-control-static text-left">Subdomain of antmedia.cloud will be automatically allocated for you</p>
                                                </div>
                                
                                                <div class="col-sm-10" *ngIf="sslConfType == getSslConfigurationTypeName(ConfigurationTypes.CUSTOM_DOMAIN) || sslConfType == getSslConfigurationTypeName(ConfigurationTypes.CUSTOM_CERTIFICATE)">
                                                    <input type="text" required minlength="1" name="sslDomain"
                                                    placeholder="Type your domain"
                                                    class="form-control"
                                                    [(ngModel)]="fqdn"
                                                    #sslDomain="ngModel">
                                                </div>

                                        </fieldset>
                                     
                                     </div>
                                        <div *ngIf="sslConfType == getSslConfigurationTypeName(ConfigurationTypes.CUSTOM_CERTIFICATE)">
                                            <fieldset>
                                                <div class="form-group"  >
                                                    <div >
                                                        <label class="col-sm-2 control-label">Full Chain File(.crt or .pem)</label>
        
                                                        <div class="col-sm-5" >
                                                            <input #sslFileInput type="file"
                                                                   id="fullChainFileInput"
                                                                   (change)="handleSslCertificateFileInput($event)">
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group"  >
                                                    
                                                    <div >
                                                        <label class="col-sm-2 control-label">Key File(.key or .pem)</label>
        
                                                        <div class="col-sm-5" >
                                                            <input #sslFileInput type="file"
                                                                   id="keyFileInput"
                                                                   (change)="handleSslCertificateFileInput($event)">
                                                       
                                                        </div>
    
                                                    </div>
    
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group"  >
                                                    
                                                    <div >
                                                        <label class="col-sm-2 control-label">Chain File(.crt or .pem)</label>
        
                                                        <div class="col-sm-5" >
                                                            <input #sslFileInput type="file"
                                                                   id="chainFileInput"
                                                                   (change)="handleSslCertificateFileInput($event)">
                                                        </div>

                                                    </div>
    
                                                </div>
                                            </fieldset>


                                        </div>
                                        <fieldset>
                                            <div class="form-group text-center" >
                                                <button  [disabled]="!configureSslEnabled" (click)="configureSsl()" type="submit" class="btn btn-fill btn-info" >
                                                        <i  *ngIf="!configureSslEnabled" class="fa fa-spinner fa-pulse  fa-fw" ></i>Activate
                                                    </button>
                                            </div>
                                        </fieldset>
                                    </ng-container>
                                    </form>


                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
