<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" i18n="@@loginPageHeader" routerLinkActive = "active" [routerLink]="['/dashboard/overview']">Manager of Ant Media Server</a>
        </div>
        <!--
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a routerLinkActive = "active" [routerLink]="['/pages/register']">
                        Register
                    </a>
                </li>
              
            </ul>
        </div>
    -->
    
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="" data-image="../../assets/img/background/background-2.jpg">
    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" *ngIf="!firstLogin">
                        <form (ngSubmit)="loginUser()">
                            <div class="card" data-background="color" data-color="blue">
                                <div class="card-header">
                                    <h3 class="card-title" i18n="@@loginTitle">Login</h3>
                                </div>
                                <div class="card-content">
                                    <div class="form-group text-success text-center" [hidden]="!showYouCanLogin"
                                    i18n="@@login_success_message" >
                                            You can now login with your username and password
                                    </div>

                                    <div class="form-group">
                                        <label i18n="@@loginFormEmail">Username</label>
                                        <input (keydown)="credentialsChanged()" type="email" name="email" i18n-placeholder="@@email_place_holder" placeholder="Username" class="form-control input-no-border" [(ngModel)]="email">

                                    </div>
                                    <div class="form-group">
                                        <label i18n="@@loginFormPassword">Password</label>
                                        <input (keydown)="credentialsChanged()" type="password" name="password" i18n-placeholder="@@password_place_holder" placeholder="Password" class="form-control input-no-border" [(ngModel)]="password">
                                    </div>
                                    <div class="form-group text-danger text-center" [hidden]="!showIncorrectCredentials"
                                    i18n="@@loginFormIncorrectCredentials" >
                                            Username or password is incorrect
                                        </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit"  i18n="@@loginFormSubmit" class="btn btn-fill btn-wd ">Let's go</button>
                                    <!--
                                    <div class="forgot">
                                        <a href="#pablo" i18n="@@loginFormForgotPassword">Forgot your password?</a>
                                    </div>
                                -->
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" *ngIf="firstLogin">
                            <form #registerForm="ngForm" novalidate (ngSubmit)="createFirstAccount(registerForm.valid)">
                                    <div class="card" data-background="color" data-color="blue">
                                        <div class="card-header">
                                            <h3 class="card-title" i18n="@@loginRegisterFirtUser">Create First Account</h3>
                                        </div>
                                        <div class="card-content">

                                            <div class="form-group text-danger text-center" [hidden]="!showFailedToCreateUserAccount"
                                            i18n="@@failed_to_create_user_account" >
                                            Failed to create user account. There can be already an user
                                            </div>

                                            <div class="form-group">
                                                <label i18n="@@registerUserFullName">Full Name<span class="star">*</span></label>
                                                <input type="text" name="fullname" class="form-control input-no-border"
                                                   [(ngModel)]="firstUser.fullName" #fullName="ngModel" required minlength="6">
                                                <small i18n="@@fullNameIsRequired" [hidden]="fullName.valid || (fullName.pristine && !registerForm.submitted)" class="text-danger">
                                                Full name is required and it should be at least 6 characters
                                                </small>
                                             </div>
                                           
                                            <div class="form-group">
                                                <label i18n="@@loginFormEmail">Email Address<span class="star">*</span></label>
                                                <input  type="email" name="firstEmail" class="form-control input-no-border" 
                                                    [(ngModel)]="firstUser.email" required #firstAccountEmail="ngModel" minlength="5">
                                                    <small i18n="@@fistAccountEmailRequired" [hidden]="firstAccountEmail.valid || (firstAccountEmail.pristine && !registerForm.submitted)" class="text-danger">
                                                    Username should be at least 5 characters
                                                    </small>
                                            </div>
                                            <div class="form-group">
                                                <label i18n="@@loginFormPassword">Password<span class="star">*</span></label>
                                                <input type="password" name="first_password" 
                                                    class="form-control input-no-border" [(ngModel)]="firstUser.password"
                                                    required #firstPassword="ngModel" minlength="7" reverse="true" validateEqual="first_password_again">
                                                    <small i18n="@@passwordRequired" [hidden]="firstPassword.valid || (firstPassword.pristine && !registerForm.submitted)" class="text-danger">
                                                    Password should be at least 7 characters
                                                    </small>
                                            </div>
                                            <div class="form-group">
                                                    <label i18n="@@loginFormPasswordAgain">Confirm Password<span class="star">*</span></label>
                                                    <input type="password" name="first_password_again" class="form-control input-no-border" 
                                                        [(ngModel)]="temp_model_password" #firstPasswordAgain="ngModel" required reverse="false" validateEqual="first_password">
                                                        <small i18n="@@password_mismatch" [hidden]="firstPasswordAgain.valid || (firstPasswordAgain.pristine && !registerForm.submitted)" class="text-danger">
                                                        Password mismatch
                                                        </small>
                                                </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <input id="communityEditionCheckbox"
                                                           name="communityEditionCheckbox"
                                                           [(ngModel)]="communityEditionCheckbox"
                                                           type="checkbox">
                                                    <label for="communityEditionCheckbox">
                                                        Enable this checkbox and get a chance to win an Enterprise Edition.
                                                    </label>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="card-footer text-center">
                                            <button type="submit" [disabled]='firstUserIsCreating' 
                                                  class="btn btn-fill btn-wd ">
                                                 <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf="firstUserIsCreating" aria-hidden="true"></i>
                                                 <ng-container i18n="@@createAccount">Create Account</ng-container></button>
                                           
                                        </div>
                                    </div>
                                </form>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <div class="copyright">
                    &copy; {{test | date: 'yyyy'}}  <i class="fa fa-heart heart"></i> by <a href="http://antmedia.io">AntMedia</a>
                </div>
            </div>
        </footer>
    </div>
</div>
