<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Table with Links</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive table-full-width">
                        <table class="table">
                                <thead>
                                    <tr>
                                      <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                      <th>{{ tableData1.headerRow[1] }}</th>
                                      <th>{{ tableData1.headerRow[2] }}</th>
                                      <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                                      <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                                    </tr>
                                </thead>
                              <tbody>
                                  <tr *ngFor="let row of tableData1.dataRows">
                                      <td class="text-center">{{row[0]}}</td>
                                      <td>{{row[1]}}</td>
                                      <td>{{row[2]}}</td>
                                      <td class="text-right">&euro; {{row[4]}}</td>
                                      <td class="td-actions text-right">
                                          <a rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                              <i class="ti-user"></i>
                                          </a>
                                          <a rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                              <i class="ti-pencil-alt"></i>
                                          </a>
                                          <a rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                              <i class="ti-close"></i>
                                          </a>
                                      </td>
                                  </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Table with Switches</h4>
                        <p class="category">With some subtitle</p>
                    </div>
                    <div class="card-content table-full-width">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                      <th class="text-center">{{ tableData2.headerRow[0] }}</th>
                                      <th>{{ tableData2.headerRow[1] }}</th>
                                      <th>{{ tableData2.headerRow[2] }}</th>
                                      <th class="text-right">{{ tableData2.headerRow[3] }}</th>
                                      <th class="text-right">{{ tableData2.headerRow[4] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData2.dataRows">
                                        <td class="text-center">{{row.id}}</td>
                                        <td>{{row.name}}</td>
                                        <td>{{row.job_position}}</td>
                                        <td class="text-right">&euro; {{row.salary}}</td>
                                        <td class="text-right">
                                            <div [ngSwitch]="row.active">
                                                <div *ngSwitchCase="true">
                                                    <input type="checkbox" class="switch-plain" checked="">
                                                </div>
                                                <div *ngSwitchDefault>
                                                    <input type="checkbox" class="switch-plain">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Table Big Boy</h4>
                        <p class="category">A table for content management</p>
                        <br />
                    </div>
                    <div class="table-responsive">
                        <table class="table table-shopping">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th></th>
                                      <th class="text-right">{{ tableData3.headerRow[2] }}</th>
                                      <th class="text-right">{{ tableData3.headerRow[3] }}</th>
                                      <th class="text-right">{{ tableData3.headerRow[4] }}</th>
                                    </tr>
                                </thead>
                              <tbody>
                                  <tr *ngFor="let row of tableData3.dataRows">
                                      <td>
                                          <div class="img-container">
                                              <img src="../../assets/img/{{row[0]}}" alt="...">
                                          </div>
                                      </td>
                                      <td class="td-product">
                                          <strong>{{row[1]}}</strong>
                                          <p>{{row[2]}}</p>
                                      </td>
                                      <td class="td-price">
                                          <small>&euro;</small>{{row[3]}}
                                      </td>
                                      <td class="td-number td-quantity">
                                          {{row[4]}}
                                          <div class="btn-group">
                                              <button class="btn btn-sm"><i class="ti-minus"></i></button>
                                              <button class="btn btn-sm"><i class="ti-plus"></i></button>
                                          </div>
                                      </td>
                                      <td class="td-number">
                                          <small>&euro;</small>{{row[5]}}
                                      </td>
                                  </tr>

                                  <tr>
                                      <td colspan="2"></td>
                                      <td></td>
                                      <td class="td-total">
                                          Total
                                      </td>
                                      <td class="td-total">
                                          {{getTotal()| currency:'EUR':true:'1.2-2'}}
                                      </td>
                                  </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
