<div class="main-content p-2">

<div class="container-fluid">
  <div class="row">
    <div class="col">


      <div class="card"> 

        <div class="card-header">
          <legend class="text-left">Search Documentation</legend>
        </div>


        <div class="card-content">

          <div class="form-group text-left">
            <input type="text" [(ngModel)]="keywords" (keyup)="search($event)" placeholder="Enter keywords" class="w-100 form-control" />
          </div>


          <div class="bg-secondary p-3">

            <div *ngIf="searchResults.length > 0">
              <ul>
                <div *ngFor="let result of searchResults">
                  <li>
                    <a (click)="showIframe(result.url)" href="javascript:void()">{{ result.title }}</a>
                  </li>
                </div>
              </ul>
            </div>

            <div *ngIf="keywords.length == 0">
              <h5><i>Enter a search term</i></h5>

              <h4>Useful Links</h4>
              <p>
                Try searching our extensive documentation and Github discussions before reaching out. You may find the answer to your issues more quickly. 
              </p>
              <ul>
                <li>
                  <a class="d-block" href="https://antmedia.io/docs/">Ant Media Server Documentation</a>
                </li>
                <li>
                  <a class="d-block" href="https://github.com/orgs/ant-media/discussions">Github Discussions</a>
                </li>
              </ul>

              <h4>Latest Blog Posts</h4>
              <ul>
              <div *ngFor="let item of getObjectKeys(feedItems)">
                 <li>
                  <a target="_blank" href="{{ feedItems[item].link }}">{{ feedItems[item].title }}</a>
                 </li> 
              </div>
              </ul>


            </div>

            <div *ngIf="searchResults.length === 0 && keywords.length > 0">
              <h5><i>No results found</i></h5>
            </div>


          </div>


        </div>
      
    </div>

    </div>
  </div>
  
</div>

</div>
