<div class="main-content">
    <div class="container-fluid">
        <div class="row ">

            <div class="col-lg-offset-3 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" i18n="@@change_password_title">Change Password</h4>
                    </div>
                    <div class="card-content">
                        <form method="post" #f="ngForm" novalidate (ngSubmit)="updatePassword(f.valid, f)">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label><ng-container i18n="@@current_password">Current Password</ng-container>
                                            <span class="star">*</span>
                                        </label>

                                        <input required name="currentPassword" type="password" class="form-control border-input" [(ngModel)]="currentPassword" #currentPass="ngModel"
                                        />

                                        <small [hidden]="currentPass.valid || (currentPass.pristine && !f.submitted)" class="text-danger">
                                            Current password is required.
                                        </small>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label><ng-container i18n="@@new_password">New Password</ng-container>
                                            <span class="star">*</span>
                                        </label>
                                        <input required name="newPassword" type="password" class="form-control border-input"
                                             [(ngModel)]="newPassword"  reverse="true" #newPass="ngModel"
                                            validateEqual="newPasswordAgain" minlength="7">
                                        <small i18n="@@passwordRequired" [hidden]="newPass.valid || (newPass.pristine && !f.submitted)" class="text-danger">
                                                Password should be at least 7 characters
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" i18n="@@confirmNewPassword">Confirm New Password
                                            <span class="star">*</span>
                                        </label>
                                        <input required name="newPasswordAgain" type="password" class="form-control border-input"
                                             [(ngModel)]="newPasswordAgain" reverse="false" #newPassAgain="ngModel"
                                            validateEqual="newPassword">
                                        <small i18n="@@password_mismatch" [hidden]="newPassAgain.valid || (newPassAgain.pristine && !f.submitted)" class="text-danger">
                                            Password mismatch
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group text-center text-danger" i18n="@@makeSureCurrentPasswordIsCorrect" [hidden]="!showPasswordNotChangedError">
                                    Make sure you that current password is entered correctly.
                                </div>
                                <div class="col-md-12 form-group text-center text-success" [hidden]="!showYourPasswordChanged" i18n="@@yourPasswordChanged" >
                                    Your password has been changed
                                 </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd" i18n="@@update_button_label">Update</button>
                            </div>
                            <div class="clearfix"></div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>