<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p i18n="@@cpuLoadLabel">System CPU Load</p>
                                    {{systemCpuLoad}}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-dashboard"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p i18n="@@cpuLoadLabel">AMS CPU Load</p>
                                    {{processCpuLoad}}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p i18n="@@liveStreamCountLabel">Active Live Streams</p>
                                    {{liveStreamSize}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="card card-circle-chart">
                    <div class="card-header text-center">
                        <h5 class="card-title" i18n="@@diskUsageLabel">System Disk</h5>
                        <p class="description">{{niceBytes(diskInUseSpace)}} / {{niceBytes(diskTotalSpace)}}</p>
                    </div>
                    <div class="card-content">
                        <div id="chartDiskUsage" class="chart-circle">{{diskUsagePercent}}%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="card card-circle-chart">
                    <div class="card-header text-center">
                        <h5 class="card-title" i18n="@@jvmNativeUsageLabel">System Memory</h5>
                        <p class="description">{{niceBytes(systemMemoryInUse)}} / {{niceBytes(systemMemoryTotal)}}</p>
                    </div>
                    <div class="card-content">
                        <div id="chartSystemMemory" class="chart-circle">{{systemMemoryUsagePercent}}%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="card card-circle-chart">
                    <div class="card-header text-center">
                        <h5 class="card-title" i18n="@@serverMemoryUsageLabel">JVM Heap Memory</h5>
                        <p class="description">{{niceBytes(jvmHeapInUseSpace)}} / {{niceBytes(jvmHeapTotalSpace)}}</p>
                    </div>
                    <div class="card-content">
                        <div id="chartJvmHeapUsage" class="chart-circle">{{jvmHeapUsagePercent}}%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                <div style="padding-top:15px">
                    <div class="text-right" style="float:right;margin-right:15px;" >
                        <button class="btn btn-fill btn-success" i18n="@@applicationsTitle" (click)="newApplication()"
                           role="button">New Application</button>
                    </div>

                    <br>
                    <br>
                </div>
                <div *ngIf="newApplicationActive" style="padding:45px">
                    <form method="post" #f="ngForm" validate (ngSubmit)="createApplication(f.valid)">
                            <div class="form-group text-left">
                                <label>Application Name*</label>
                                <input type="text" required minlength="4" name="applicationName"
                                    placeholder="Application name" class="form-control"
                                    [(ngModel)]="newApplicationName" #applicationName="ngModel">
                                <small [hidden]="applicationName.valid || (!f.submitted)"
                                    class="text-danger">
                                    Applicaton name should be at least 4 characters.
                                </small>
                                <small class="text-danger" *ngIf="streamNameEmpty">
                                    Application name should not be empty.
                                </small>
                            </div>
                            <div class="form-group text-left">
                                <label>WAR File</label>
                                <input type="file" class="upload" (change)="handleWarFileInput($event.target.files)" accept=".war"/>
                                <small  class="help-block">This field is optional. If you have a custom app in a .war format, you may install by uploading.</small>
                                
                            </div>

                            <div class="form-group text-center">
                                <button type="submit" [disabled]='newAppCreating'
                                    class="btn btn-fill btn-success">
                                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"
                                        *ngIf="newAppCreating"
                                        aria-hidden="true"></i>Create</button>

                                <button type="button" class="btn btn-simple"
                                    (click)="cancelNewApplication()">Cancel</button>
                            </div>
                            <div class="form-group text-center">
                                <small class="text-info" *ngIf="deployingApplication">
                                    Deploying the {{newApplicationName}}. Please wait a few seconds.
                                </small> 
                            </div>
                             
                    </form>
                </div>     
                <div class="card-content table-full-width">   
                               
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th i18n="@@appName">Name</th>
                                    <th class="text-center" i18n="@@liveStreamCountLabel" >Live Stream</th>
                                    <th class="text-center" i18n="@@vodCountLabel"*ngIf="isMobileMenu()">VoD Count</th>
                                    <th class="text-center" i18n="@@appStorageSizeLabel"*ngIf="isMobileMenu()">Storage</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!---->
                                <tr *ngFor="let row of appTableData.dataRows; let i=index" >
    
                                      <td class="text-center">{{i+1}}</td>
                                      <td>{{row.name}}</td>
                                      <td class="text-center">{{row.liveStreamCount}}</td>
                                      <td class="text-center" *ngIf="isMobileMenu()">{{row.vodCount}}</td>
                                      <td class="text-center" *ngIf="isMobileMenu()">{{niceBytes(row.storage)}}</td>
                                      <td class="text-center">  <button (click)="deleteApplication(row.name)"
                                        class="btn btn-simple btn-danger"
                                        type="button">
                                        <span class="btn-label">
                                            <i class="ti-close"></i>
                                        </span>
                                    </button></td>
                               
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>